<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>

        .btn-primary{
            margin-right: 50px;
            background-color: white;
            color: black;
            border-color: white;
            font-weight: normal;

        }
        .btn-primary:hover{
            background-color: #D5DBDB;
            color: black;
            border-color:#f2f2f2 ;
        }
        .btn-secondary{

            margin-right: 40px;
            background-color: white;
            font-weight: normal;

            color: black;
            border-color: white;
        }
        .btn-secondary:hover{
            background-color: #D5DBDB;
            color: black;

            border-color:#f2f2f2 ;
        }

        .center-card {
            width: 600px;
            background-color: white;
            margin: 0 auto;
            padding: 60px;
            border: 1.5px solid #ccc;
            border-radius: 80px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .form-label {
            display: block;
            margin-bottom: 5px;
        }

        .form-input-3 {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            background-color: #f2f2f2;
        }
        .form-input-1 {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="background-color: #f2f2f2; padding: 20px">
    <!-- First Row: Navigation Bar with Logo and Buttons -->
    <br>
    <div class="row" style="margin-top: auto">
        <div class="col" >
            <div class="card w-100">
                <div class="card-body d-flex justify-content-end align-items-center">
                    <div style="flex: 1;"></div> <!-- Create space to the left -->
                    <button class="btn btn-primary" ><a href="/welcome" style="text-decoration: none; color: black;">Home</a></button>
                    <button class="btn btn-primary" th:if="${isStudent}"><a href="/myProjects" style="text-decoration: none; color: black;">My Projects</a></button>
                    <button class="btn btn-primary"  th:if="${isStudent}"><a href="/apply" style="text-decoration: none; color: black;">Apply for Projects</a></button>
                    <button class ="btn btn-primary"  th:if="${isProf}"><a href="/create" style="text-decoration: none; color: black;">Create</a></button>
                    <button class ="btn btn-primary"  th:if="${isProf}"><a href="/approve" style="text-decoration: none; color: black;">Approve</a></button>

                    <button class="btn btn-primary"  th:if="${isProf}"><a href="/myProjects" style="text-decoration: none; color: black;">My Projects</a></button>
                    <button class="btn btn-secondary" ><a href="/logout" style="text-decoration: none; color: black;">Logout</a></button>
                    <img src="https://iitj.ac.in/uploaded_docs/IITJ%20Logo__Smallest.jpg" alt="Your Logo" height="50" style="margin-right: 30px; transform: scale(1.4);" class="ml-2">
                </div>
            </div>
        </div>
    </div>

    <div class="center-card" style="margin-top: 70px">
        <h2 style="text-align: center;">Create a New Project</h2>
        <form th:action="@{/create/save}" method="post">
            <label class="form-label" for="title">Title:</label>
            <input class="form-input-1" type="text" id="title" name="title" required th:value="${isEdit} ? ${project.getTitle()} : ''">
            <label class="form-label" for="department">Department:</label>
            <select class="form-input-1" id="department" name="department" required>
                <!-- Default option -->
                <option value="" disabled selected>Select Department</option>

                <!-- Iterate through departmentList and display options -->
                <option th:each="option : ${departmentList}"
                        th:value="${option}"
                        th:text="${option}"
                        th:selected="${isEdit and option == project.getDepartment()}">
                </option>
            </select>

            <label class="form-label" for="projectType">Project Type:</label>
            <select class="form-input-1" id="projectType" name="projectType" required>
                <option value="" disabled selected>Select Project Type</option>
                <!-- Iterate through projectTypeList and display options -->
                <option th:each="option : ${projectTypeList}"
                        th:value="${option}"
                        th:text="${option}"
                        th:selected="${isEdit and option == project.getProjectType()}">
                </option>
            </select>



            <label class="form-label" for="description">Description:</label>
            <textarea class="form-input-3" id="description" name="description" rows="4" cols="50" required th:text="${isEdit} ? ${project.getDescription()} : ''"></textarea>

            <label class="form-label" for="preReq">Pre-Requisites:</label>
            <textarea class="form-input-3" id="preReq" name="preReq" rows="4" cols="50" required th:text="${isEdit} ? ${project.getPreReq()} : ''"></textarea>

            <label class="form-label" for="maxLim">Max People Allowed:</label>
            <input class="form-input-1" type="number" id="maxLim" name="maxLim" required th:value="${isEdit} ? ${project.getMaxLim()} : 0">

            <label class="form-label" for="deadline">Deadline:</label>
            <input class="form-input-1" type="date" id="deadline" name="deadline" required th:value="${isEdit} ? ${project.getDeadline()} : ''">

            <label class="form-label" for="stipendOption">Stipend Option:</label>
            <select class="form-input-1" id="stipendOption" name="stipendOption" required onchange="toggleStipendAmount()">
                <option value="" disabled selected>Select </option>
                <!-- Iterate through projectTypeList and display options -->
                <option th:each="option : ${stipendOptionsList}"
                        th:value="${option}"
                        th:text="${option}"
                        th:selected="${isEdit and option == project.getStipendOption()}">
                </option>
            </select>

            <label class="form-label" for="stipendAmount" id="stipendAmountLabel" style="display: none;">Stipend Amount:</label>
            <input class="form-input-1" type="number" id="stipendAmount" name="stipendAmount" required th:value="${isEdit} ? ${project.getStipendAmount()} : 0" style="display: none;">


            <script>
                function toggleStipendAmount() {
                    var stipendOption = document.getElementById("stipendOption");
                    var stipendAmountLabel = document.getElementById("stipendAmountLabel");
                    var stipendAmountInput = document.getElementById("stipendAmount");

                    if (stipendOption.value === "Yes") {
                        stipendAmountLabel.style.display = "block";
                        stipendAmountInput.style.display = "block";
                    } else {
                        stipendAmountLabel.style.display = "none";
                        stipendAmountInput.style.display = "none";
                    }
                }
            </script>



            <label class="form-label" for="status">Status:</label>
            <select class="form-input-1" id="status" name="status" required>
                <option value="">select</option>
                <option value="FLOATED" th:selected="${isEdit} and ${project.getStatus() == 'FLOATED'}">FLOATED</option>
                <option value="IN_PROGRESS" th:selected="${isEdit} and ${project.getStatus() == 'IN_PROGRESS'}">IN PROGRESS</option>
                <option value="COMPLETED" th:selected="${isEdit} and ${project.getStatus() == 'COMPLETED'}">COMPLETED</option>
            </select>

            <input type="hidden" name="isEdit" th:value="${isEdit}" />
            <th:block th:if="${isEdit}">
                <input type="hidden" name="projectId" th:value="${projectId}" />
            </th:block>
            <th:block th:unless="${isEdit}">
                <input type="hidden" name="projectId" th:value="-1" />
            </th:block>
            <button class="form-input-1" type="submit" th:if="${isEdit}">Update Project</button>
            <button class="form-input-1" type="submit" th:unless="${isEdit}">Create Project</button>
        </form>
    </div>
</div>
</body>
</html>

