<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

    <style>
        .custom-label{
            color: gray;
            background-color: #f7eeed;
        }
        .oval-button {
            background-color: #f7eeed;
            border: 2px solid #ced4da;
            border-radius: 25px;
            padding: 10px 20px;
            color: black;
            transition: background-color 0.3s;
        }

        .oval-button:hover {
            background-color: #f7eeed;
            color: #28282B;
        }

        >button{
            cursor: pointer;
            color: #F0F0F0;
        }
    </style>
</head>

<body style="background-image: url('https://iitj.ac.in/plasma2022/images/iitjcampus.jpg'); background-size: 170%; background-position: center; margin: 0; overflow: hidden;">

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-4" >
    <div class="card" style="background-color: rgba(211, 211, 211, 0.7);padding: 20px; border-radius: 10px;top: 70px">
      <div class="card-header custom-bg" style="background-color: #f7eeed">
        <h3 class="text-center">Registration</h3>
      </div>

<!--      Registration successful alter-->
      <div th:if="${param.success}">
        <div id="success-popup" class="alert alert-success" style="display: none;">
          Registration successful!
        </div>
      </div>
      <div class="card-body ">
        <form
                method="post"
                role="form"
                th:action="@{/register/save}"
                th:object="${user}">

<!--          Input for Username-->
          <div class="form-group mb-1 ">
            <label class="form-label "></label>
            <input
                    class="form-control custom-label"
                    id="username"
                    name="username"
                    placeholder="Enter username"
                    th:field="*{username}"
                    type="text"
            />
            <p th:errors = "*{username}" class="text-danger"
               th:if="${#fields.hasErrors('username')}"></p>
          </div>

<!--          Input for Name-->
          <div class="form-group mb-1">
            <label class="form-label "></label>
            <input
                    class="form-control custom-label"
                    id="name"
                    name="name"
                    placeholder="Enter full name"
                    th:field="*{name}"
                    type="text"
            />
            <p th:errors = "*{name}" class="text-danger"
               th:if="${#fields.hasErrors('name')}"></p>
          </div>

<!--          Input for Email Address-->
          <div class="form-group mb-1">
            <label class="form-label "></label>
            <input
                    class="form-control custom-label"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    th:field="*{email}"
                    type="email"
            />
            <p th:errors = "*{email}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

<!--          Input for the Password-->
          <div class="form-group mb-1" >
            <label class="form-label "></label>
            <input
                    class="form-control custom-label"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    th:field="*{password}"
                    type="password"
            />
            <p th:errors = "*{password}" class="text-danger"
               th:if="${#fields.hasErrors('password')}"></p>
          </div>

<!--          Input for the role-->
            <div class="form-group mb-2">
                <label for="role"></label>
                <select class="form-control custom-label" id="role" name="role" th:field="*{role}" required style="color: gray;">
                    <option value="" style="color: gray;">Select role</option>
                    <option th:each="option : ${roleList}" th:value="${option}" th:text="${option}" style="color: gray;"></option>
                </select>
                <p th:errors="*{role}" class="text-danger" th:if="${#fields.hasErrors('role')}"></p>
            </div>

            <br>

<!--          Register and Login button-->
          <div class="form-group text-center mb-2 " >
            <button class="btn btn-primary oval-button" style="background-color:#f7eeed; color: black" type="submit">Register</button>
          </div>
          <div class="form-group text-center mb-2">
            <span>Already registered?</span>
          </div>
          <div class="form-group text-center mb-2">
            <a th:href="@{/login}" class="btn btn-secondary">Login</a>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
</body>
</html>